@model IEnumerable<GamesForU.Models.Pg>

@{
    ViewData["Title"] = "Index";
}

<h1>PG's</h1>

<p>
    <a asp-action="Create">Altersbegrenzung erstellen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Altersbegrenzung
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRestriction)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn" asp-action="Details" asp-route-id="@item.Id" style="background-color: burlywood; color: white">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
