@model IEnumerable<GamesForU.Models.Orders>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {
            var chartBestSelling = new CanvasJS.Chart("chartContainerBestSelling", {
                animationEnabled: true,
                theme: "light1",
                exportEnabled: true,
                title: {
                    text: "Meistverkaufte Spiele"
                },
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.DataPointsBestSelling)
                        }]
            });
            chartBestSelling.render();

            var chartMostExpensive = new CanvasJS.Chart("chartContainerMostExpensive", {
                animationEnabled: true,
                theme: "light1",
                exportEnabled: true,
                title: {
                    text: "Teuerste Spiele"
                },
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.DataPointsMostExpensive)
                        }]
            });
            chartMostExpensive.render();

            var chartUserOrders = new CanvasJS.Chart("chartContainerUserOrders", {
                animationEnabled: true,
                theme: "light1",
                exportEnabled: true,
                title: {
                    text: "Benutzer mit den meisten Bestellungen"
                },
                data: [{
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.DataPointsUserOrders)
                        }]
            });
            chartUserOrders.render();
        }
    </script>
</head>
<body>
    <div id="chartContainerBestSelling" style="height: 400px; width: 100%;"></div>
    <div id="chartContainerMostExpensive" style="height: 400px; width: 100%; margin-top: 20px;"></div>
    <div id="chartContainerUserOrders" style="height: 400px; width: 100%; margin-top: 20px;"></div>

     <div style="margin-top: 20px;">
        <h3>Gesamtsumme aller Bestellungen: @ViewBag.TotalOrderSum €</h3>
    </div>

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>
