@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex-grow-1">
    @if (!User.IsInRole("Admin"))
{
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Spiele</a>
            </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="GamesOrders" asp-action="Index">Mein Warenkorb</a>
            </li>
      
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="History" asp-action="Index">Meine Bestellungen</a>
            </li>
        }
    }
else
{

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index">Spiele</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Kategorien</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Pgs" asp-action="Index">PG</a>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">Publisher</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="History" asp-action="Index">Alle Bestellungen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="UserRoles" asp-action="Index">Benutzerverwaltung</a>
        </li>
}
   
</ul>
